<p class="align-content-center"><h2>Update</h2>
<br>
<div class="container-fluid">
  <div class="col-6">
    <form [formGroup]="productForm" (ngSubmit)="editNew()">

      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" formControlName="name">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.dirty">
        Name is invalid.
      </div>


      <div class="form-group">
        <label>Price:</label>
        <input class="form-control" formControlName="price">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.dirty">
        Price is invalid.
      </div>


      <div class="form-group">
        <label>Status:</label>
        <input class="form-control" formControlName="status">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('status')?.invalid && productForm.get('status')?.dirty">
        Phone is invalid.
      </div>

      <div class="form-group">
        <label>Quantity:</label>
        <input class="form-control" formControlName="quantity">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.dirty">
        Input quantity.
      </div>

      <button class="btn btn-primary">Save</button>

    </form>
  </div>
</div>




