<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head th:replace="/layout :: head"></head>&ndash;&gt;-->
<!--<body>-->
<!--<h3>Remove Blog</h3>-->
<!--<p>-->
<!--  <a th:href="@{/blog}">-->
<!--    Back to Blog list!-->
<!--  </a>-->
<!--</p>-->
<!--<div id="form">-->
<!--  <form action="#" th:action="@{/blog/delete}" th:object="${blog}"-->
<!--        method="POST" novalidate="novalidate">-->
<!--    <input type="hidden" th:field="*{id}"/>-->
<!--    <div>-->
<!--      <label>Title</label>-->
<!--      <input type="text" th:field="*{title}"/>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>Content</label>-->
<!--      <input type="email" th:field="*{content}"/>-->
<!--    </div>-->
<!--    <input type="submit" value="Remove"/>-->
<!--  </form>-->
<!--</div>-->
<!--&lt;!&ndash;<footer th:replace="/layout :: footer"></footer>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/layout :: head"></head>-->
<body>
<h3>Remove Blog</h3>
<p>
  <a th:href="@{/blog}">
    Back to Blog site!
  </a>
</p>
<div id="form">
  <form th:action="@{/blog/delete}" th:object="${blog}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Title</label>
      <input type="text" th:field="*{title}"/>
    </div>
    <div>
      <label>Content</label>
      <input type="text" th:field="*{content}"/>
    </div>
    <input type="submit" value="Remove"/>
  </form>
</div>
<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
</html>