<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Something is wrong? Change your own!</h3>
<p>
  <a th:href="@{/blog}">
    Back to Blog site!
  </a>
</p>
<div id="form">
  <form action="#" th:action="@{/blog/save}" th:object="${blog}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Name</label>
      <input type="text" th:field="*{title}"/>
    </div>
    <div>
      <label>Email</label>
      <input type="email" th:field="*{content}"/>
    </div>
    <input type="submit" value="Edit"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>