html {
    margin: 0 auto;
    padding: 0;
}
body {
    background: lightgray;
    font-family: Verdana, sans-serif;
    margin: 0;
    width: 100%;
}
header {
    background: dodgerblue;
    padding: 20px;
}
.letter {
    color: white ;
    font-size: x-large;
    padding: 20px;
}
#sidebar {
    position: static;
    width: 200px;
    height: 100%;
    padding: 10px;
    margin: 3px;
    background-color: white;
}
.width {
    width: 20%;
    float: left;
}
#sidebar ul li {
    color: black;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid grey;
}
#sidebar ul li:hover {
    color: cornflowerblue;
    cursor: grab;
}
article {
    width: 50%;
    display: inline;
    background: white;
    float: left;
    text-align: left;
}
aside {
    height: 100%;
    background-color: white;
    width: 20%;
    float: right;
}
.log {
    float: right;
}
.log:hover {
    color: white;
    cursor: pointer;
}
