.container text-lg-start {
    position: sticky;
    top: 0;
    width: 100%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}