<div class="container">
  <div class="content">
    <div class="form mt-4" style="background-color: lightblue; height: 500px">
      <div>
        <div class="row mt-5 mb-1 justify-content-center">
          <h3>Create new contract</h3>
        </div>
        <div>
          <form method="post">
            <input type="text" hidden>
            <div class="row d-flex">
              <div class="col-6">
                <div class="form-group">
                  <label>Start</label>
                  <input type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label>End</label>
                  <input type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label>Deposit</label>
                  <input type="text" class="form-control"
                         placeholder="Enter deposit">
                </div>
                <div class="form-group">
                  <label>Total</label>
                  <input type="text" class="form-control"
                         placeholder="Enter total money">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Employee</label>
                  <select class="custom-select">
                    <option value="" selected>Choose Employee ID</option>
                    <option value="">001</option>
                    <option value="">002</option>
                    <option value="">003</option>
                    <option value="">004</option>
                    <option value="">005</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Customer</label>
                  <select class="custom-select">
                    <option value="" selected>Choose Customer Code</option>
                    <option value="">001</option>
                    <option value="">002</option>
                    <option value="">003</option>
                    <option value="">004</option>
                    <option value="">005</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Service</label>
                  <select class="custom-select">
                    <option value="" selected>Choose Service ID</option>
                    <option value="">001</option>
                    <option value="">002</option>
                    <option value="">003</option>
                    <option value="">004</option>
                    <option value="">005</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-outline-primary w-50" style="background-color: #FFF4CF; margin-top: 33px">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
