<div class="container layout_padding" style="font-family: 'Poppins', sans-serif;margin-bottom: 10px">
  <div class="row">
    <div class="col-md-9 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4>Your Cart</h4></div>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="row main-header d-flex flex-wrap">
          <div class="col-1 mt-1"><input class="cus-input" style="accent-color: rgba(62,62,231,0.89)" type="checkbox"></div>
          <div class="col-4">3 items</div>
          <div class="col">Price</div>
          <div class="col">
            Quantity
          </div>
          <div class="col">Total<button class="close">&#10005;</button></div>
        </div>
      </div>
      <div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-1 mt-1"><input class="cus-input" style="accent-color: rgba(62,62,231,0.89)" type="checkbox"></div>
            <div class="col-1"><img class="cus-img" src="https://i.imgur.com/1GrakTl.jpg"></div>
            <div class="col-3">
              Cotton T-shirtttttttt
            </div>
            <div class="col" >100.000<sup>đ</sup></div>
            <div class="col">
              <button type="button" style="border: none; background-color: #faf9fa">-</button>
              <button type="button" style="border: 1px solid rgba(128,128,128,0.2); background-color: white">1</button>
              <button type="button" style="border: none; background-color: #faf9fa">+</button>
            </div>
            <div class="col"><span style="color: #f54e42">100.000<sup>đ</sup></span><button class="close">&#10005;</button></div>
          </div>
        </div>
      </div>
      <div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-1 mt-1"><input class="cus-input" type="checkbox"></div>
            <div class="col-1"><img class="cus-img" src="https://i.imgur.com/1GrakTl.jpg"></div>
            <div class="col-3">
              Cotton T-shirt
            </div>
            <div class="col" >100.000<sup>đ</sup></div>
            <div class="col">
              <button type="button" style="border: none; background-color: #faf9fa">-</button>
              <button type="button" style="border: 1px solid rgba(128,128,128,0.2); background-color: white">1</button>
              <button type="button" style="border: none; background-color: #faf9fa">+</button>
            </div>
            <div class="col"><span style="color: #f54e42">100.000<sup>đ</sup></span><button class="close">&#10005;</button></div>
          </div>
        </div>
      </div>
      <div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-1 mt-1"><input class="cus-input" type="checkbox"></div>
            <div class="col-1"><img class="cus-img" src="https://i.imgur.com/1GrakTl.jpg"></div>
            <div class="col-3">
              Cotton T-shirt
            </div>
            <div class="col" >100.000<sup>đ</sup></div>
            <div class="col">
              <button type="button" style="border: none; background-color: #faf9fa">-</button>
              <button type="button" style="border: 1px solid rgba(128,128,128,0.2); background-color: white">1</button>
              <button type="button" style="border: none; background-color: #faf9fa">+</button>
            </div>
            <div class="col"><span style="color: #f54e42">100.000<sup>đ</sup></span><button class="close">&#10005;</button></div>
          </div>
        </div>
      </div>
      <div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-1 mt-1"><input class="cus-input" type="checkbox"></div>
            <div class="col-1"><img class="cus-img" src="https://i.imgur.com/1GrakTl.jpg"></div>
            <div class="col-3">
              Cotton T-shirt
            </div>
            <div class="col" >100.000<sup>đ</sup></div>
            <div class="col">
              <button type="button" style="border: none; background-color: #faf9fa">-</button>
              <button type="button" style="border: 1px solid rgba(128,128,128,0.2); background-color: white">1</button>
              <button type="button" style="border: none; background-color: #faf9fa">+</button>
            </div>
            <div class="col"><span style="color: #f54e42">100.000<sup>đ</sup></span><button class="close">&#10005;</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 summary">
      <div class="row mb-2">
        <div class="col" style="padding-left:0;"><span><b>Address</b></span></div>
        <div class="col text-right"><a href="#">Change</a></div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0; font-size: 14px"><span><b>Name</b></span></div>
        <div class="col"><b>035252533</b></div>
      </div>
      <div class="row">
        <div style="color: #7a7a78"><span>123 WashingtonDC, America</span></div>
      </div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">ITEMS 3</div>
        <div class="col text-right">&euro; 132.00</div>
      </div>
      <form>
        <p>SHIPPING</p>
        <select>
          <option class="text-muted">Standard-Delivery- &euro;5.00</option>
        </select>
        <p>GIVE CODE</p>
        <input id="code" placeholder="Enter your code">
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">&euro; 137.00</div>
      </div>
      <button href="#" class="round-black-btn">Payment</button>
    </div>
  </div>
</div>

