<!-- Footer -->
<div style="margin-top: 100px">
<footer class="text-center text-lg-start text-muted" style="background-color: lightblue">
  <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3" style="color: black">
          <h6 class="text-uppercase fw-bold mb-3">
            FURAMA FOR HAPPY LIFE
          </h6>
          <p>
            <img src="https://hotel24h.net/data/news/2829/27343872.jpg" width="250">
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: black">
          <h6 class="text-uppercase fw-bold mb-4">
            <button class="btn btn-outline-success" type="submit">VIEW ON MAP</button>
          </h6>
          <p>
            <a href="#" class="text-reset">Cần Thơ</a>
          </p>
          <p>
            <a href="#" class="text-reset">Hồ Chí Minh</a>
          </p>
          <p>
            <a href="#" class="text-reset">Hải Phòng</a>
          </p>
          <p>
            <a href="#" class="text-reset">Hà Nội</a>
          </p>
          <p>
            <a href="#" class="text-reset">Cà Mau</a>
          </p>
          <p>
            <a href="#" class="text-reset">Kiên Giang</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-6" style="color: black">
          <p>
            <a href="#" class="text-reset">Liên Hệ</a>
          </p>
          <p>
            <a href="#" class="text-reset">Tuyển Dụng</a>
          </p>
          <p>
            <a href="#" class="text-reset">Gía cả</a>
          </p>
          <p>
            <a href="#" class="text-reset">Trợ giúp</a>
          </p>
          <p style="background-color: lightblue">

          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-2" style="color: #277BC0; background-color: black">
    © 2022 Furama Resort Da Nang
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
