# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\A1021I1\MODULE_3_JAVA_WEB\spring_boot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
