<div class="container">
  <div class="row mt-5 mb-2 justify-content-center">
    <h3>Edit Service</h3>
  </div>
  <form>
    <div>
      <div class="form-group">
        <label>Service Name</label>
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Area</label>
        <input type="text" class="form-control" placeholder="Area">
      </div>
      <div class="form-group">
        <label>Cost</label>
        <input type="text" class="form-control" placeholder="Cost">
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" placeholder="Quantity">
      </div>
      <div class="form-group">
        <label>Rental Type</label>
        <select class="custom-select">
          <option value="" selected>Rental Type</option>
          <option>Day</option>
          <option>Month</option>
          <option>Year</option>
        </select>
      </div>
      <div class="form-group">
        <label>Standard Room</label>
        <input type="text" class="form-control" placeholder="Standard Room">
      </div>
      <div class="form-group">
        <label>Description Other</label>
        <input type="text" class="form-control" placeholder="Other">
      </div>
      <div class="form-group">
        <label>Pool Area</label>
        <input type="text" class="form-control" placeholder="Pool Service">
      </div>
      <div class="form-group">
        <label>Floors</label>
        <input type="text" class="form-control" placeholder="2">
      </div>
      <button class="btn btn-outline-success" type="submit" style="width: 100%">Save
      </button>
    </div>
  </form>
</div>

