<div class="container-fluid">
  <div class="content">
    <div class="mr-3 ml-3 mt-3">
      <table id="tableContract" class="table table-hover table-fixed">
        <thead style="background-color: #277BC0">
        <tr>
          <th>ID</th>
          <th>Start</th>
          <th>End</th>
          <th>Deposit</th>
          <th>Total</th>
          <th>Employee ID</th>
          <th>Customer ID</th>
          <th>Service ID</th>
        </tr>
        </thead>
        <tbody style="background-color: lightblue">
        <tr>
          <th scope="row">001</th>
          <td>12/07/2022</td>
          <td>18/07/2022</td>
          <td>1000000</td>
          <td>1500000</td>
          <td>012</td>
          <td>001</td>
          <td>020</td>
        </tr>
        <tr>
          <th scope="row">002</th>
          <td>14/08/2022</td>
          <td>20/08/2022</td>
          <td>600000</td>
          <td>3600000</td>
          <td>017</td>
          <td>002</td>
          <td>025</td>
        </tr>
        </tbody>
      </table>
      <!--Table-->

    </div>
  </div>
</div>
