<!--&lt;!&ndash;&lt;!&ndash; footer section &ndash;&gt;&ndash;&gt;-->
<!--<footer class="footer_section">-->
<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6 col-lg-3 footer-col">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="footer_detail">&ndash;&gt;-->
<!--&lt;!&ndash;          <h4>&ndash;&gt;-->
<!--&lt;!&ndash;            Về Fahasa&ndash;&gt;-->
<!--&lt;!&ndash;          </h4>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="about_us">&ndash;&gt;-->
<!--&lt;!&ndash;           <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;             <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Giới thiệu Fahasa&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;           </a>&ndash;&gt;-->
<!--&lt;!&ndash;           <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;             <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Chính sách bảo mật thanh toán&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;           </a>&ndash;&gt;-->
<!--&lt;!&ndash;           <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;             <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Chính sách giải quyết khiếu nại&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;           </a>&ndash;&gt;-->
<!--&lt;!&ndash;           <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;             <span>&ndash;&gt;-->
<!--&lt;!&ndash;                Điều khoản sử dụng&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;           </a>&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6 col-lg-3 footer-col">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="footer_contact">&ndash;&gt;-->
<!--&lt;!&ndash;          <h4>&ndash;&gt;-->
<!--&lt;!&ndash;            Liên hệ với chúng tôi&ndash;&gt;-->
<!--&lt;!&ndash;          </h4>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="contact_link_box">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-map-marker" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Trần Hưng Đạo, TP.Đà Nẵng, Việt Nam&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-phone" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Call: +84.325.525.535&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  furamasupport@gmail.com&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="footer_social">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-facebook" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-twitter" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-linkedin" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fa fa-instagram" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6 col-lg-3 footer-col">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="footer_detail">&ndash;&gt;-->
<!--&lt;!&ndash;          <h4>&ndash;&gt;-->
<!--&lt;!&ndash;            Hợp tác và liên kết&ndash;&gt;-->
<!--&lt;!&ndash;          </h4>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="about_us">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;             <span>&ndash;&gt;-->
<!--&lt;!&ndash;                  Quy chế hoạt động sàn GDTMĐT&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6 col-lg-3 footer-col">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="footer_detail">&ndash;&gt;-->
<!--&lt;!&ndash;          <h4>&ndash;&gt;-->
<!--&lt;!&ndash;            Thanh toán&ndash;&gt;-->
<!--&lt;!&ndash;          </h4>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="about_us">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;                <img width="100px" height="35px" src="assets/images/PayPal.svg.png">&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class="map_container">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <div class="map">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div id="googleMap"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="footer-info">&ndash;&gt;-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;        &copy; <span id="displayYear">2022</span> Bản quyền của Công ty TNHH Fahasa&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; footer section &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<div class="footer" style="margin-bottom: 0px">-->
<!--  <div class="container">-->
<!--    <div class="row pdn-top-30">-->
<!--      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">-->
<!--        <div class="Follow">-->
<!--          <h3>Follow Us</h3>-->
<!--        </div>-->
<!--        <ul class="location_icon">-->
<!--          <li><a href="#"><img src="assets/icon/facebook.png"></a></li>-->
<!--          <li><a href="#"><img src="assets/icon/Twitter.png"></a></li>-->
<!--          <li><a href="#"><img src="assets/icon/linkedin.png"></a></li>-->
<!--          <li><a href="#"><img src="assets/icon/instagram.png"></a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">-->
<!--        <div class="Follow">-->
<!--          <h3>Newsletter</h3>-->
<!--        </div>-->
<!--        <input class="Newsletter" placeholder="Enter your email" type="Enter your email">-->
<!--        <button class="Subscribe">Subscribe</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="copyright">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash; end footer &ndash;&gt;-->
<!--</footer>-->
