html {
    padding: 100px;
}
table{
    width:100%
}

th{
    background: aquamarine;
}

label{
    display: inline-block;
    width:150px;
}

td{
    border: 2px salmon;
}

label{
    display: inline-block;
    width:100px;
}