<p class="align-content-center"><h2>Create Student</h2>
<br>
<div class="container-fluid">
  <div class="col-6">
    <form [formGroup]="studentForm" (ngSubmit)="submit()">

<!--      Id-->
      <div class="form-group">
        <label>Id:</label>
        <input class="form-control" formControlName="id">
      </div>
      <div class="alert alert-danger" role="alert"
      *ngIf="studentForm.get('id')?.invalid && studentForm.get('id')?.dirty">
        Id is required.
      </div>

<!--      Name-->
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" formControlName="name">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.dirty">
        Name is invalid.
      </div>

<!--      Address-->
      <div class="form-group">
        <label>Address:</label>
        <input class="form-control" formControlName="address">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="studentForm.get('address')?.invalid && studentForm.get('address')?.dirty">
      </div>

<!--      Phone-->
      <div class="form-group">
        <label>Phone:</label>
        <input class="form-control" formControlName="phone">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="studentForm.get('phone')?.invalid && studentForm.get('phone')?.dirty">
        Phone is invalid.
      </div>

<!--      Email-->
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="studentForm.get('email')?.invalid && studentForm.get('email')?.dirty">
      </div>

<!--      Mark-->
      <div class="form-group">
        <label>Mark:</label>
        <input class="form-control" formControlName="mark">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="studentForm.get('mark')?.invalid && studentForm.get('mark')?.dirty">
      </div>

      <button style="background-color:#7abaff" class="btn btn-info mb-lg-3" type="submit" value="Create" [disabled]="!studentForm.valid">Create</button>

    </form>
  </div>
</div>



