<p class="align-content-center"><h2>Student Information</h2>
<br>
<label><img style="width: 50%" [src]="stu.avatar"></label>
<br>
<label>Id:</label>
<span>{{stu.id}}</span>
<br>
<label>Name:</label>
<span>{{stu.name}}</span>
<br>
<label>Address:</label>
<span>{{stu.address}}</span>
<br>
<label>Phone:</label>
<span>{{stu.phone}}</span>
<br>
<label>Email:</label>
<span>{{stu.email}}</span>
<br>
<label>Mark:</label>
<span>{{stu.mark}}</span>
<br>
<label>Result:</label>
<span *ngIf="stu.mark > 5" style="color: #7abaff">PASS</span>
<span scope="row" *ngIf="stu.mark <= 5" style="color: #a71d2a">FAIL</span>
<br>
<label>Change Mark: </label>
<input #element type="number" min="0" max="10" (change)="changeMark(element.value)">
